.img {
    width: 30%;
    height: 100%;
    opacity: 1;
    object-fit:cover;
    z-index: 2;
    -webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);
    
    transform-origin:center;
    transform:perspective(1000px) rotateY(25deg);
    transition:0.1s;
  }
  
  .containerS {
    cursor: pointer;
    z-index: 0;
    max-width:500px;
    max-height:350px;
    
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
    
  }

  .containerS:hover .img {
    transform:perspective(1000px) rotateY(0deg);
    opacity:1;
  }
  
  .containersTitle{
    opacity: 0;
    transition: opacity 0.2s;
    z-index: -1;
  }

  .containerS:hover .containersTitle{
    border: 5px solid white;
    opacity: 1;
    z-index: 4;
    position: absolute;
  }
