.navBar{
    height: 10vh;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: 3px 15px;
    font-size: 1.2rem;
}

.container{
    height: 100vh;
}

.Outlet{
    height: 90vh;
}